:host {
  display: block;
  padding-block: 2.5rem;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--color-gray-400);
}

:host([data-espaco='apertado']) {
  padding-block: 1.5rem;
}
