:host {
  display: flex;
  flex-direction: column;
  gap: calc(var(--space) * 3);
  margin-bottom: calc(var(--space) * 6);
}

.cabecalho__titulo {
  font-size: var(--text-lg);
  line-height: var(--text-lg-lh);
  font-weight: 500;
  color: var(--color-gray-900);
}

.cabecalho__subtitulo {
  margin-top: calc(var(--space) * 0.5);
  font-size: var(--text-sm);
  line-height: var(--text-sm-lh);
  color: var(--color-gray-500);
}

@media (width >= 40rem) {
  :host {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
